.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    border-radius: 2px
.button--primary
  background-color: $primary
  color: $light