@media screen and ( max-width:  1250px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 0.8rem
  .section-title
    &__text
      width: 72%

@media screen and ( max-width:  1080px)
  .card
    &__text
      font-size: 0.8rem
    &__pricetag
      font-size: 1rem

@media screen and ( max-width:  980px)
  .row
    margin: auto
  .col
    min-width: 33%
  .card
    &__title
      font-size: 1rem
    &__text
      min-width: 75%
      font-size: 0.7rem
    &__pricetag
      font-size: 0.8rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    &__item
      display: none
  .section-title
    &__text
      width: 100%

@media screen and ( max-width: 860px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__title
      font-size: 1.29rem
    &__text
      margin-left: 0
    &__image
      height: 100%
  .section-title
    &__text
      width: 100%

@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 40rem
    &__title
      max-width: 25rem
    &__text
      font-size: 1.29rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 1.85rem
  .project-card
    &__pricetag
      font-size: 0.7rem

@media screen and ( max-height: 520px )
   .hero
    &__scroll-down
      display: none

