@media screen and ( max-width:  1250px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 0.8rem
  .section-title
    &__text
      width: 72%

@media screen and ( max-width:  1080px)
  .card
    &__text
      font-size: 0.8rem
    &__pricetag
      font-size: 1rem

@media screen and ( max-width:  980px)
  .row
    margin: auto
    width: 100%
  .card
    &__title
      font-size: 1rem
    &__text
      font-size: 0.7rem
    &__pricetag
      font-size: 0.8rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    &__item
      display: none
  .section-title
    &__text
      width: 100%

@media screen and ( max-width: 860px )
  .project
    padding-top: 3rem
    background-color: $dark
    &__section
      &-title
        &__heading, &__text
          color: $light

  .row
    flex-direction: column
    align-items: center
  .col
    max-width: 100%
  .card
    &__title
      font-size: 1.29rem
    &__text
      margin-left: 0
      width: 80%
      min-width: 200px
  .section-title
    &__text
      width: 100%
    &__word
      &::after
        display: none
  .swiper
    &-slide
      &__text
        flex-basis: 50%
  .col-50
    max-width: 70%

@media screen and ( max-width: 570px )
  .types
    &-row
      padding-bottom: 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 40rem
    &__title
      max-width: 25rem
    &__text
      font-size: 1.29rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 1.85rem
  .project-card
    &__pricetag
      font-size: 0.7rem
  .swiper
    &-slide
      &__heading
        font-size: 1rem
  .col-50
    max-width: 100%
  .finished
    padding-bottom: 2.5rem
@media screen and ( max-width: 400px )
  .hero
    &__scroll
      &-up
        margin-right: 0
  #scroll_top
    opacity: 1
    &::after
      border: none
      background: url('../img/arrow-up.svg') no-repeat center
      background-size: 40%
  .swiper
    &-slide
      &__heading
        font-size: 0.8rem

@media screen and ( max-height: 590px )
   .hero
    &__scroll-down
      display: none


