.project
  &__card
    padding-bottom: 6rem
  &__section-title
    margin-bottom: 3.2rem
.section-title
  &__text
    display: block
    width: 60%
    color: $asphalt
    margin-left: auto
    margin-right: auto
    margin-top: 1.3rem
    font-family: 'Futura Book', sans-serif
    font-size: 1.43rem
    line-height: 1.93rem
    text-align: center
    text-transform: none
.project-card
  &__pricetag
    position: absolute
    left: 0
    bottom: -2.2rem
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 5.9rem 1.214rem 1.9rem
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)